@model Model.EF.User

@{
    ViewBag.Title = "Trang xóa user "+ @Model.UserName;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Xóa người dùng
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin chi tiết
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (ViewData["Error"] != null)
                    {
                        <h3 style="color:red">Xóa thất bại!</h3>
                    }
                    else
                    {
                        <h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
                    }
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>                        

                    </dl>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Xóa" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



