@model IEnumerable<MyShop.Models.ShoppingCartViewModel>

@{
    decimal thanhtien = 0;
    int soluong = 0;
    foreach (var item in Model)
    {
        var tongtien = (@item.Product.Price * @item.Quantity);
        thanhtien += tongtien;
        soluong += item.Quantity;
    }
}

@if (Model.Count() > 0)
{
    <a href="cart.html" id="top-cart-trigger">
        <img src="//hstatic.net/589/1000057589/1000148995/cart_bg.png?v=258"><span>@soluong</span>
        <strong class="hidden-xs hidden-sm">Giỏ hàng</strong>
        <b class="cart_total hidden-xs">@thanhtien.ToString("N0")đ</b>
    </a>
    <div class="top-cart-content" style="">
        <div class="top-cart-title">
            <h4>Giỏ hàng</h4>
        </div>
        <div class="top-cart-items">
            @foreach (var cart in Model)
            {
                <div class="top-cart-item clearfix">
                    <div class="top-cart-item-image">
                        <a href="/san-pham/@(cart.Product.ProductCategory.Alias)/@(cart.Product.Alias)-@(cart.Product.ID).html"><img src="@cart.Product.Image" alt="@cart.Product.Name"></a>
                    </div>
                    <div class="top-cart-item-desc">
                        <a href="/san-pham/@(cart.Product.ProductCategory.Alias)/@(cart.Product.Alias)-@(cart.Product.ID).html">@cart.Product.Name</a><span class="top-cart-item-price">@cart.Product.Price.ToString("N0")đ</span>
                        <span class="top-cart-item-quantity">x @cart.Quantity</span>
                    </div>
                </div>
            }
        </div>
        <div class="top-cart-action clearfix">
            <span class="fleft top-checkout-price">@thanhtien.ToString("N0")đ</span>
            <input type="hidden" class="top_cart_total_price_not_format" value="750000000">
            <button onclick="window.location.href='/gio-hang.html'" class="button button-3d button-small nomargin fright">Xem giỏ hàng</button>
        </div>
    </div>
}
else
{
    <a href="/cart" id="top-cart-trigger">
        <img src="//hstatic.net/589/1000057589/1000148995/cart_bg.png?v=258"><span>0</span>
        <strong class="hidden-xs hidden-sm">Giỏ hàng</strong>
        <b class="cart_total hidden-xs">0₫</b>
    </a>
    <div class="top-cart-content" style="width: 200px;"><div> Chưa có sản phẩm trong giỏ!</div></div>
}



